language: node_js
node_js:
- '12'
cache:
  yarn: true
script:
- yarn build
deploy:
  edge: true
  provider: pages:git
  cleanup: false
  local_dir: "./recipes/.vuepress/dist"
  github_token: $GITHUB_TOKEN
  keep_history: true
  repo: octo-woapi/cookbook
  on:
    branch: master
